.detailProductContainer{
    display: flex;
    justify-content: space-between;
    padding: 0px 10rem;
}
.totalDetailProduct{
    display: flex;
    justify-content: space-between;
}
.colorPrimary{
    background-color: #BD0707;
}